{% extends "base.html" %}
{% load static %}

{% block tools %}
<ul class="nav navbar-nav navbar-tools">
  <li role="presentation">
    <a class="dropdown-toggle" id="dropdownTiles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Tiles
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownTiles">
      <li><a data-toggle="modal" data-target=".modal-tiles-season_one">Season One</a></li>
      <li><a data-toggle="modal" data-target=".modal-tiles-angry_neighbors">Angry Neighbors</a></li>
      <li><a data-toggle="modal" data-target=".modal-tiles-prison_outbreak">Prison Outbreak</a></li>
    </ul>
  </li>
  <li role="presentation">
    <a class="dropdown-toggle" id="dropdownTokens" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Pions
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownTokens">
      <li><a data-toggle="modal" data-target=".modal-tokens-season_one">Season One</a></li>
      <li><a data-toggle="modal" data-target=".modal-tokens-angry_neighbors">Angry Neighbors</a></li>
      <li><a data-toggle="modal" data-target=".modal-tokens-prison_outbreak">Prison Outbreak</a></li>
    </ul>
  </li>
  <li role="presentation">
    <a class="dropdown-toggle" id="dropdownSpawns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Invasion
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownSpawns">
      <li><a data-toggle="modal" data-target=".modal-spawns-season_one">Season One</a></li>
      <li><a data-toggle="modal" data-target=".modal-spawns-angry_neighbors">Angry Neighbors</a></li>
      <li><a data-toggle="modal" data-target=".modal-spawns-prison_outbreak">Prison Outbreak</a></li>
    </ul>
  </li>
  <li role="presentation">
    <a class="dropdown-toggle" id="dropdownCars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Voitures
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownCars">
      <li><a data-toggle="modal" data-target=".modal-cars-season_one">Season One</a></li>
      <li><a data-toggle="modal" data-target=".modal-cars-angry_neighbors">Angry Neighbors</a></li>
      <li><a data-toggle="modal" data-target=".modal-cars-prison_outbreak">Prison Outbreak</a></li>
    </ul>
  </li>
  <li role="presentation">
    <a class="exporttopdf" href="">Pdf</a>
  </li>
</ul>
<form class="navbar-form navbar-left" role="save">
  <div class="form-group">
    <input type="text" class="form-control mission_name" placeholder="Nom dela mission" value="{{mission.name}}" /> 
  </div>
  <span class="btn btn-default save-mission">Enregistrer</span>
</form>
{% endblock %}

{% block infos %}
<div class="objects_in_use">
  <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tiles_used">
    <b>Tiles in use :</b> 
    {% for tile in dropped_tiles %} {{tile.name}} {% endfor %}    
  </p>
  <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 doors_used">
    <b>Doors in use :</b> 
    {% for door in dropped_doors %} {{door.name}} {% endfor %}    
  </p>
  <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 objectives_used">
    <b>Objectives in use :</b> 
    {% for objective in dropped_objectives %} {{objective.name}} {% endfor %}    
  </p>
  <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 spawns_used">
    <b>Spawns in use :</b>
    {% for spawn in dropped_spawns %} {{spawn.name}} {% endfor %}    
  </p>
  <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cars_used">
    <b>Cars in use :</b>
    {% for car in dropped_cars %} {{car.name}} {% endfor %}    
  </p>
  <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 noises_used">
    <b>Noises in use :</b>
    {% for token in dropped_noises %} {{token.name}} {% endfor %}    
  </p>
    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 exits_used">
    <b>Exits in use :</b>
    {% for token in dropped_exits %} {{token.name}} {% endfor %}    
  </p>
</div>
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropzone-container">
  <div id="dropzone" class="snappable"></div>
</div>
{% endblock %}

{% block extrajs %}
  <!-- <script src="{% static 'libs/mission.js' %}"></script> -->
  <script type="text/javascript">
  // $('.mission_name').val("{{mission.name}}");
  // var dropped_tiles_json = "{{dropped_tiles_json|escapejs}}"
  // var dropped_doors_json = "{{dropped_doors_json|escapejs}}"
  // var dropped_objectives_json = "{{dropped_objectives_json|escapejs}}"
  // var dropped_spawns_json = "{{dropped_spawns_json|escapejs}}"
  // var dropped_cars_json = "{{dropped_cars_json|escapejs}}"
  // var dropped_noises_json = "{{dropped_noises_json|escapejs}}"
  // var dropped_exits_json = "{{dropped_exits_json|escapejs}}"

  // // var objectives_in_use = "{{objectives_in_use|escapejs}}"
  // var objectives_in_use = "{{number_objectives|escapejs}}"
  // var doors_in_use = "{{number_doors|escapejs}}"
  // var cars_in_use = "{{number_cars|escapejs}}"
  // var noises_in_use = "{{number_noises|escapejs}}"
  // var exits_in_use = "{{number_exits|escapejs}}"
  // var spawns_in_use = "{{number_spawns|escapejs}}"
  </script>
{% endblock %}